.activo{
  color:blue;
  animation-duration: 0.5s;
  animation-name: slidein;

}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



a{
  text-decoration:solid;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.container img{
  height: 300px;
  width: auto;
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.cboPokemon{
  display: grid;
  place-content: center;
  background-color: blue;
}

.imgPokemon{
  height: 64px;
  width: auto;
}